/********************/
/* Sidebar Clean Up */
/********************/
/* Assign to Me Button */
#assign-to-me {
	display: none;
}

/* Last Commenter */
#peopledetails>dl:nth-child(4) {
    display: none;
}

/* Votes */
.mod-content>.item-details:nth-child(2)>dl:nth-child(1) {
    display: none;
}

/* Days Since Reply */
#datesmodule .dates:nth-child(3) {
    display: none;
}

/* Date of First Reply */
#datesmodule .dates:nth-child(4) {
    display: none;
}

/* Agile Panel */ 
#greenhopper-agile-issue-web-panel {
    display: none;
}

/*************************/
/* Custom Field Clean Up */
/*************************/
/* Number of Replies */
#rowForcustomfield_10050 {
    display: none;
}

/* Last Comment by Customer */
#rowForcustomfield_10057 {
    display: none;
}