/* Responsive Width Comment Threads */
div.docs-gm div.docos-anchoreddocoview {
    width: 95%;
    min-width: 300px;
    max-width: 800px;
}

/* Responsive Height & Width Comment History Panel */
div.docos-streampane-container div.docos-stream-view-height {
    max-height: calc(90vh - 100px);
}

div.docos-streampanesize {
    width: 40vw;
    min-width: 400px;
}